<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<img src="static/img/credit_cards.png" alt="" class="img-responsive" />
				<br/>
				<p><strong><i class="fa fa-location-arrow"></i> Address: Królowej Jadwigi 6A/5, 64-920 Piła</strong></p>
			</div>
			<div class="col-md-4 text-center">
					<a href="/contact" class="btn btn-success btn-block">Need help? Have Questions? Contact us!</a>
					<h4><small>For more information call:</small> (123) 456-7890</h4>
			</div>
		</div><!--end row-->
	</div><!--end container-->
</div><!--end footer-->
