{% extends "includes/base.html" %}

{% block body %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<!--<header class="intro-header" style="background-image: url('static/cat/img/love-romantic-sweet-heart-4096.jpg')">-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1><center>About Us </h1>
                    <hr class="small">
                    <span class="subheading"><center>This is what we do.</center></span>
                    <p>&nbsp</p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Hello There! We are happy you found our Owl shop.</p>
            <p>In a few words, our passion are owls and that is why we decided to sell owls pillows. In our shop you can find various types of cool owl pillows, so do not hesitate and check what we have. </p>
            <p>If you have any questions or concerns, please contact us. We are always happy to help. </p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <div align="center" class="embed-responsive embed-responsive-16by9">
                <video autoplay loop class="embed-responsive-item">
                    <source src="static/css/video/avGow7n_460sv.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>
{% endblock %}