{% extends "includes/base.html" %}

{% block body %}


{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<h3><center> Contact Us </center></h3>
				<p>&nbsp</p>
				{% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                            <h3><center>{{ message }}</center></h3>
                            <p>&nbsp;</p>
                            {% endfor %}
                        {% endif %}
				{% endwith%}
				<div class="row control-group">
					<form method="post" action="/contact">
                        {% from "_formhelpers.html" import render_field %}
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <!--<label>Name</label>-->
                            {{ render_field(contact_form.email, class="form-control")}}
                            <!--<input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">-->
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <!--<label>Email Address</label>-->
                            {{ render_field(contact_form.title, class="form-control")}}
                            <!--<input>-->
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <!--<div class="form-group col-xs-12 floating-label-form-group controls">-->
                            <!--<label>Phone Number</label>-->
                            {{ render_field(contact_form.content, class="form-control")}}
                            <!--<input >-->
                            <p class="help-block text-danger"></p>
                        <!--</div>-->
                    </div>                 
                    <br>
                    <div id="success"></div>
                    	<button type="submit" class="btn">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    {% endblock %}
    <hr>

    </div>
    <!-- /.container -->
    {% endblock %}