{% extends "includes/base.html" %}

{% block body %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1><center>Privacy Policy</center></h1>
                        <hr class="small">
                        <!--<span class="subheading"><center>This is what we do.</span>-->
                        <p>&nbsp</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p></p>
                <p>At Owl Shop we believe the information you share with us should remain private. We will not sell, share or give-away your information. All credit card purchases are made on a secure server and encrypted to ensure your safety. We collect email address, where possible, of the visitors to our web page, and all the email addresses of those who communicate with us via email. The information we collect is used to contact consumers for marketing purposes and not shared with other organizations, opt-out options from our correspondence will always be available.</p>
                <p>If you have any questions or concerns, please contact us. We are always happy to help. </p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>

    </div>
    <hr>
     <!-- /.container -->
{% endblock %}