{% extends "includes/base.html" %}

{% block body %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1><center>Terms and Conditions</center></h1>
                        <hr class="small">
                        <!--<span class="subheading"><center>This is what we do.</span>-->
                        <p>&nbsp</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p><b>Minimum Order</b></p>
                <p>Opening order is $1,000.00, re-orders are $500.00. Please note shipping companies have minimum shipping charges. In many instances the shipping cost for one item will be the same as multiples of that same item. This is especially true with some of our furniture pieces.
                    <p>&nbsp</p>
                    A Drop Ship Fee ( $15.00 ) will be added to your invoice.  Additional service charges: Residential Delivery, Lift Gate Service, Inside Delivery and Re-Delivery charges, will be billed directly by the carrier.
                    <p>&nbsp</p>
                    Please contact your customer service representative if you have any questions regarding shipping charges. Owl Shop will not be responsible for excessive freight charges on minimum shipments. Please order carefully.</p>
                    <br>
                <p><b>Terms</b></p>
                <p>We accept checks, money orders, wire transfers to our account, Visa, MasterCard, American Express, Discover and offer net 30 terms to qualified customers. Net 30 terms are offered only to customers inside the Europe. We do not ship COD or proforma. We do not call for credit card numbers.</p>
                <br>
                <p><b>Internet Minimum Advertised Price (IMAP) Policy</b></p>
                <p>Owl Shop, Inc. has adopted this Policy applicable to all Owl Shop customers effective June 1, 2013 with respect to the customers’ advertising over the Internet of products supplied by Owl Shop.
                    <br>
                    1. Each Owl Shop customer remains free to establish its own resale prices. However, a customer may not (a) advertise or otherwise promote Owl Shop products over the Internet at a net price (final price paid net of any discounts, coupons, promotions) that is less than the Internet Minimum Advertised Price (IMAP) established by Owl Shop or (b) sell Owl Shop products to any other person who advertises or otherwise promotes Owl Shop products over the Internet at a net price less than the IMAP established by Owl Shop.
                    <p>&nbsp</p>
                    IMAP is Owl Shop's Wholesale Price x 2.1
                    <p>&nbsp</p>
                    Example:Wholesale Price = $100
                    <p>&nbsp</p>
                    IMAP = $210
                    <p>&nbsp</p>
                    2. If a customer violates this IMAP policy, Owl Shop will request the customer to cease advertising or promoting products on the Internet in violation of its IMAP policy. In addition, Owl Shop will cease to accept from and/or ship orders for said customer.
                    <p>&nbsp</p>
                    3. In executing this policy, Owl Shop will act at all times unilaterally, and will neither solicit, consider nor agree to any recommendation, request or demand of any other person. All matters of interpretation and application of the terms of this policy and all matters concerning enforcement of this policy shall remain with the sole, unilateral authority of Owl Shop.
                    Each Owl Shop customer is free to decide independently whether or not to follow this policy. Owl Shop neither seeks, nor will accept, any assurance of compliance or agreement from a customer regarding this policy. Nor will Owl Shop discuss any conditions of acceptance related to this policy. No one is, has been or will be authorized to modify or alter this policy, or to bind Owl Shop to any action inconsistent with its terms. </p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
    <hr>
<!-- /.container -->
{% endblock %}

